<div class="container-fluid">
  <!-- Título -->
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2>Sucursales</h2><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Formulario -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-6 text-left" style="vertical-align: middle !important; display:inline-block !important;">
              <h4 *ngIf="!editando()" class="title">Nueva Sucursal</h4>
              <h4 *ngIf="editando()" class="title">Editar Sucursal</h4>
            </div>
            <div class="col-md-6 text-right" style="vertical-align: middle !important; display:inline-block !important;">
              <button *ngIf="editando()" (click)="deleteStore(this.currentStore.id)" type="button" name="eliminar_sucursal" class="btn btn-xs btn-danger"><i class="ti-trash"></i> Eliminar</button>
            </div>
          </div>

        </div>
        <div class="content">
          <form name="storeForm" (ngSubmit)="validateStoreForm(storeForm.value, storeForm.valid)" #storeForm='ngForm' novalidate>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Nombre <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border-input" name="name" [(ngModel)]="currentStore.name" #name="ngModel" required>
                </div>
                <div class="text-danger" [hidden]="name.valid || (name.pristine && !storeForm.submitted)">
                  El nombre de la sucursal es requerido.
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Dirección <span class="text-danger">*</span></label>
                  <input (focusout)="getCoordFromAddress(currentStore.address)" type="text" class="form-control border-input" name="address" [(ngModel)]="currentStore.address" #address="ngModel" required>
                </div>
                <div class="text-danger" [hidden]="address.valid || (address.pristine && !storeForm.submitted)">
                  La dirección de la sucursal es requerida.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control border-input" name="description" [(ngModel)]="currentStore.description" #description="ngModel" rows="8" cols="80"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label>¿Matríz? (Tienda principal)</label>
                  <div class="checkbox">
                    <!-- <input *ngIf="currentStore.matrix == true" type="checkbox" [ngModel]="matrix.matrix" name="fakematrix" disabled="disabled"> -->
                    <input *ngIf="currentStore.matrix == true" type="checkbox" [(ngModel)]="currentStore.matrix" name="matrix" #matrix (click)="false">
                    <input *ngIf="currentStore.matrix == false" type="checkbox" [(ngModel)]="currentStore.matrix" name="matrix" #matrix>
                    <label for="matrix">Sí</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control border-input" name="email" [(ngModel)]="currentStore.email" #email="ngModel">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control border-input" name="phone_number" [(ngModel)]="currentStore.phone_number" #phone_number="ngModel">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="text-danger" [hidden]="!noAddressFound">
                  No se encontró la dirección especificada. Por favor, arrastre el marcador hasta la ubicación correcta o agregue más información en el campo de dirección.
                </div>
                <agm-map [latitude]="currentStore.latitude" [longitude]="currentStore.longitude" [zoom]="zoom">
                  <agm-marker
                    [latitude]="currentStore.latitude"
                    [longitude]="currentStore.longitude"
                    [markerDraggable]="true"
                    (dragEnd)="changeMarkerPos($event)">
                  </agm-marker>
                </agm-map>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <div class="row">
                <div class="col-md-6">
                  <button routerLink="/stores" type="button" name="regresar" class="btn btn-default"><i class="ti-arrow-left"></i> Regresar</button>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button *ngIf="!editando()" [disabled]="loading && !storeForm.form.valid" type="submit" name="registrar_sucursal" class="btn btn-success"><i class="ti-save"></i> Guardar</button>
                    <button *ngIf="editando()" [disabled]="loading && !storeForm.form.valid" type="submit" name="actualizar_sucursal" class="btn btn-success"><i class="ti-save"></i> Actualizar</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
