<div class="container-fluid">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h2>Sucursales</h2><br>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button (click)="setMode('creando', 0)" routerLink="/stores/form" type="button" name="creando" class="btn btn-success" id="0"><i class="ti-plus"></i> Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabla de sucursales -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Dirección</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let store of stores">
                  <td><span *ngIf="store.matrix == true" style="color:blue;"><i class="ti-star"></i> </span>{{store.name}}</td>
                  <td>{{store.description || "-"}}</td>
                  <td>{{store.address || "-"}}</td>
                  <td>{{store.email || "-"}}</td>
                  <td>{{store.phone_number || "-"}}</td>
                  <td><button (click)="setMode('editando', store.id)" type="button" name="editando" [attr.id]="store.id" class="btn btn-info"><i class="ti-pencil-alt"></i> Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
