.texto-centrado {
  text-align: center;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #99babb !important;
}

.form-signin {
  max-width: 50em;
  padding: 15px;
  margin: 0 auto;
  background-color: #fffcf5;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #7d7878;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #7d7878;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #7d7878;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #7d7878;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #7d7878;
}

.help-block {
    font-size: 12px;
}
