.datatable-footer-inner {
  padding: 10px;
  width: 100%;
}

.alinear-izquierda {
  float: left;
  width: 100%;
}
.alinear-derecha {
  float:right;
  width: 100%;
}
.items_search_box {
  padding:8px;
  margin:15px auto;
  width:100%;
}

.datatable-header-cell {

}

.datatable-header-cell, .datatable-body-cell {
  text-align: center !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

@media screen and (max-width: 600px) {
  .pages {
    visibility: hidden;
    clear: both;
    /*float: left;*/
    display: none;
    position: absolute;
  }
  .pager li {
    /*clear: both;
    display: inline;*/
  }
  .alinear-izquierda {
    width: 50% !important;
  }
  .items_search_box {
    width: 100%;
  }
}
