<div class="container-fluid">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h2>Ítems</h2><br>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="padding-left:1em; padding-right:1em;">
            <div class="col-xs-12 col-md-4">
              <input type="text" class="items_search_box" placeholder="Buscar..."
                (keyup)="buscarItem($event)"  >
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-6" style="padding-top:1em; padding-bottom:1em; text-">
              <button (click)="setMode('creando', 0)" routerLink="/items/form" type="button" name="creando" class="btn btn-success" id="0"><i class="ti-plus"></i> Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">


          <div class="fresh-datatables" style="display:block;">
            <div>
              <ngx-datatable
                  #itemstable
                  class="material striped"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [scrollbarH]="true"
                  [limit]="10"
                  [reorderable]="reorderable">
                <ngx-datatable-column name="ID">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['id']}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['name']}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Categoría">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{row['category']['name']}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Precio">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    ${{row['price']}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Activo">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <i *ngIf="row['active'] == true" class="ti-check"></i>
                    <i *ngIf="row['active'] == false" class="ti-close"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="-">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <td><button (click)="setMode('editando', row['id'])" routerLink="/items/form" type="button" name="editando" id="{{row['id']}}" attr.data-category-id="{{row['category_id']}}" class="btn btn-info"><i class="ti-pencil-alt"></i> Editar</button></td>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                  >
                  <div class="alinear-izquierda">
                    <span *ngIf="rowCount > 1">{{rowCount}} registros</span>
                    <span *ngIf="rowCount == 1">{{rowCount}} registro</span>
                  </div>
                  <div class="alinear-derecha">
                    <div class="datatable-footer_pagination">
                      <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="itemstable.onFooterPage($event)">
                      </datatable-pager>
                    </div>
                  </div>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
