<div class="container-fluid">
  <!-- Título -->
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2>Ítems</h2><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-6 text-left" style="vertical-align: middle !important; display:inline-block !important;">
              <h4 *ngIf="!editando()" class="title">Nuevo Ítem</h4>
              <h4 *ngIf="editando()" class="title">Editar Ítem</h4>
            </div>
            <div class="col-md-6 text-right" style="vertical-align: middle !important; display:inline-block !important;">
              <button *ngIf="editando()" (click)="deleteItem(this.currentItem.id, this.currentItem.category_id)" type="button" name="eliminar_categoria" class="btn btn-xs btn-danger"><i class="ti-trash"></i> Eliminar</button>
            </div>
          </div>
        </div>
        <div class="content">
          <form name="itemForm" (ngSubmit)="saveItem(itemForm.value, itemForm.valid)" #itemForm='ngForm' novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nombre <span class="text-danger">*</span></label>
                  <input type="text" class="form-control border-input" name="name" [(ngModel)]="currentItem.name" #name="ngModel" required>
                </div>
                <div class="text-danger" [hidden]="name.valid || (name.pristine && !itemForm.submitted)">
                    El nombre del producto es requerido.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Categoría <span class="text-danger">*</span></label>
                  <select class="form-control border-input" name="category_id" [(ngModel)]="currentItem.category_id" #category_id="ngModel" required>
                    <option [ngValue]="undefined">Seleccionar</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                  </select>
                </div>
                <div class="text-danger" [hidden]="category_id.valid || (category_id.pristine && !itemForm.submitted)">
                    Se necesita seleccionar una categoría.
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Tipo de ítem <span class="text-danger">*</span></label>
                  <select class="form-control border-input" name="item_type" [(ngModel)]="currentItem.item_type" #item_type="ngModel" title="Seleccionar" required>
                    <option [value]="undefined">Seleccionar</option>
                    <option [value]="">Producto</option>
                    <option [value]="">Servicio</option>
                  </select>
                </div>
                <div class="text-danger" [hidden]="item_type.valid || (item_type.pristine && !itemForm.submitted)">
                    Se necesita seleccionar el tipo de ítem.
                </div>
              </div>
            </div>
            <div class="row" style="display:flex; flex-wrap: wrap;">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Precio</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" name="price" [(ngModel)]="currentItem.price" #price="ngModel">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>¿Activo?</label>
                  <div class="checkbox">
                    <input type="checkbox" [(ngModel)]="currentItem.active" name="active" #active>
                    <label for="active" >Sí</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label>Descripción</label>
                  <textarea class="form-control border-input" name="description" [(ngModel)]="currentItem.description" #description="ngModel" rows="8" cols="40"></textarea>
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label>Imagen</label>
                  <input type="file" (change)="fileEvent($event)" class="form-control border-input" name="image" value="">
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <img attr.src="{{this.imgSrc}}" alt="Imagen del ítem" class="responsive-image" />
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 text-center">
                <button routerLink="/items" type="button" name="regresar" class="btn btn-default"><i class="ti-arrow-left"></i> Regresar</button>
              </div>
              <div class="col-md-6 text-center">
                <div class="form-group">
                  <button *ngIf="!editando()" [disabled]="loading && !itemForm.form.valid" type="submit" name="registrar_item" class="btn btn-success"><i class="ti-save"></i> Guardar</button>
                  <button *ngIf="editando()" [disabled]="loading && !itemForm.form.valid" type="submit" name="actualizar_item" class="btn btn-success"><i class="ti-save"></i> Actualizar</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
