<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Menú</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
            <a class="navbar-brand" href="#">Panel de control</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <p>Usuario: {{currentUser.name}} ({{currentUser.email}})</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-settings"></i>
                        <p>Configuración</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
