
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      Flor D' Lerma
    </a>
  </div>
  <ul class="nav">
    <li *ngIf="isNotMobileMenu()">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- <i class="ti-panel"></i> -->
        <p>Usuario: {{currentUser.name}} ({{currentUser.email}})</p>
      </a>
    </li>
    <li *ngIf="isNotMobileMenu()">
      <a href="#">
        <i class="ti-settings"></i>
        <p>Configuración</p>
      </a>
    </li>
    <li class="divider" *ngIf="isNotMobileMenu()"></li>
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]" (click)="sidebarToggle()">
        <i class="{{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li style="position:absolute; width:100%; bottom: 10px;">
      <a routerLink="/login" (click)="sidebarToggle()">
        <i class="ti-power-off"></i>
        <p>Cerrar sesión</p>
      </a>
    </li>
  </ul>
</div>
