<div class="container-fluid">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h2>Categorías</h2><br>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <div class="text-right">
                <button (click)="setMode('creando', 0)" routerLink="/categories/form" type="button" name="creando" class="btn btn-success" id="0"><i class="ti-plus"></i> Agregar</button>
                <button routerLink="/categories/order" type="button" name="ordenar" class="btn btn-info"><i class="ti-list-ol"></i> Ajustar orden</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabla de categorías -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>{{category.name}}</td>
                  <td>{{category.description}}</td>
                  <td><button (click)="setMode('editando', category.id)" type="button" name="editando" [attr.id]="category.id" class="btn btn-info"><i class="ti-pencil-alt"></i> Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
