<div class="container-fluid">
  <!-- Título -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h2>Categorías</h2><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lista -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <h4>Ordenar categorías</h4>
              <p style="text-align:justify;">
                Asigne un <u>número de lugar</u> a cada categoría para indicar el orden en que se
                mostrarán en el menú de la aplicación móvil.
              </p>
              <ul>
                <li>
                  Debe asignar números enteros (NO DECIMALES)
                  <ul>
                    <li>1, 2, 3, 5, 10, 15 = CORRECTO</li>
                    <li>0.5, 1.4, 4.7, 3.9 = INCORRECTO</li>
                  </ul>
                </li>
                <li style="text-align:justify;">
                  Los números menores son los que se mostrarán primero. El 1 será el
                  primero en aparecer, el 2 será el segundo y así sucesivamente.
                  <ul>
                    <li>1 = Primero en aparecer en el menú</li>
                    <li>2 = Segundo en aparecer en el menú</li>
                    <li>10 = Décimo en aparecer en el menú</li>
                  </ul>
                </li>
                <li style="text-align:justify;">
                  No necesariamente debe asignar número a todos. Si sólo le interesa
                  que salgan algunas categorías al principio y las demás pueden aparecer
                  en el orden que sea, déjelos en blanco y aparecerán conforme hayan sido registradas
                  en este portal.
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      # de lugar
                    </th>
                    <th>
                      Categoría
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>
                      <input type="number" class="form-control border-input input-categoria" [id]="category.id" name="menu_order" [(ngModel)]="category.menu_order" #menu_order="ngModel">
                    </td>
                    <td>
                      {{ category.name }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <button routerLink="/categories" type="button" name="regresar" class="btn btn-default"><i class="ti-arrow-left"></i> Regresar</button>
                    </td>
                    <td>
                      <button (click)="saveOrder()" type="button" name="guardar_categorias" class="btn btn-success"><i class="ti-save"></i> Guardar</button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
