<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.salsadeanguila.com" target="_blank">
                        Salsadeanguila
                    </a>
                </li>
                <li>
                    <a href="#">
                       Soporte: soporte@salsadeanguila.com
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}
        </div>
    </div>
</footer>
